html, body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #9d00ff;
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main_bar {
  height: 1em;
  width: 100%;
  border: 1px solid #9d00ff;
  border-radius: 1em;
  overflow: hidden;
}

.indicator {
  color: #9d00ff;
  background-color: #9d00ff;
  height: 1em;
}

h1, h2 {
  width: 100%;
  text-align: center;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
  padding: 50px;
  border-radius: 1em;
  
}